$color_background: #651fff;

%invert-text_color-background_color {
  background-color: white;
  color: $color_background;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $color_background;
}

#navDrop {
  background-color: $color_background;
  color: white;
}

#navDrop > a:hover {
  @extend %invert-text_color-background_color;
}
.container-fluid {
  overflow: hidden;
}

.card {
  margin-top: 3%;
  border: none;
}

.card .card-header {
  background-color: $color_background;
  color: white;
  text-transform: uppercase;
  border-left: 2px solid white;
  border-right: 1px solid white;
}

.row {
  justify-content: center;
  .card {
    margin-top: 9%;
    height: 96%;

    .card-body {
      h4 {
        color: white;
        background-color: $color_background;
        padding: 2%;
        text-transform: uppercase;
      }

      h6 {
        color: gray;
        border-bottom: 1px solid gray;
        padding: 2%;
        padding-left: 0;
        width: 90%;
      }

      p {
        margin-top: 3%;
        text-align: justify;
      }

      a {
        text-align: justify-all;
      }
    }
  }
}

.border-b {
  padding-bottom: 3%;
  border-bottom: 1px solid white;
}

@media (min-width: 1157px) {
  .container-fluid {
    height: 89%;
  }
}

.frase-entrada {
  position: relative;
  padding: 5%;
  text-transform: uppercase;
  color: white;
  h1 {
    span {
      @extend %invert-text_color-background_color;
      padding: 0.3% 1%;
    }
  }
  .container {
    padding: 5%;
    text-align: justify;
  }
}

#title-header {
  @extend %invert-text_color-background_color;
  width: 40%;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .frase-entrada {
    padding: 3%;
    > h1 {
      font-size: 1.9em;
    }

    > div {
      font-size: 1em;
    }
  }
}

@media (max-width: 414px) {
  .frase-entrada {
    padding: 1%;
    > h1 {
      font-size: 1.3em;
    }

    > div {
      font-size: 0.7em;
    }
  }

  .border-b {
    border: none;
  }

  .row {
    .col-sm-4 {
      width: 96%;
      padding-bottom: 2%;
      border-bottom: 2px solid white;
    }

    .card {
      margin-top: 6%;
      height: 93%;
    }
  }
}

@media (max-width: 320px) {
  .frase-entrada {
    padding: 3%;
    > h1 {
      font-size: 1.1em;
    }

    > div {
      font-size: 0.6em;
    }
  }

  .row {
    .col-sm-4 {
      width: 96%;
      padding-bottom: 2%;
      border-bottom: 2px solid white;
    }

    .card {
      font-size: 0.9em;
      margin-top: 6%;
    }
  }
}
