$color_background: #651fff;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $color_background;
    
    
}

.container-fluid {
    overflow: hidden;
}

@media (min-width:1157px) {
    .container-fluid {
        height: 89%;
    }
}

.frase-entrada {
    position: relative;
    padding: 5%;
    text-transform: uppercase;
    color: white;
    h1 {
         span {
            padding: 0 .5% 0 .5%;
            background-color: white;
            color: $color_background;   
        }
    }
    .container {
        padding: 5%;
        text-align: justify;
    }
}

@media (max-width:768px) {
    .frase-entrada {
        padding: 3%;
        > h1 {
            font-size: 1.9em;   
        }
        
        > div {
            font-size: 1em;
        }
    }
}

@media (max-width:414px) {
    .frase-entrada {
        padding: 1%;
        > h1 {
            font-size: 1.3em;
        }
        
        > div {
            font-size: .7em;
        }
    }
}