$color_background: #651fff;

%invert-text_color-background_color {
  background-color: white;
  color: $color_background;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $color_background;
}

#navDrop {
  background-color: $color_background;

  a {
    color: white;
  }
}

#navDrop > a:hover {
  @extend %invert-text_color-background_color;
}
.container-fluid {
  overflow: hidden;
}

.card {
  margin-top: 3%;
  border: none;
}

.card .card-header {
  background-color: $color_background;
  color: white;
  text-transform: uppercase;
  border-left: 2px solid white;
  border-right: 1px solid white;
}

.row {
  justify-content: center;
  .card {
    margin-top: 9%;
    height: 96%;

    .card-body {
      h4 {
        color: white;
        background-color: $color_background;
        padding: 2%;
        text-transform: uppercase;
      }

      h6 {
        color: $color_background;
        border-bottom: 1px solid $color_background;
        padding: 2%;
        padding-left: 0;
        width: 90%;
      }

      p {
        color: $color_background;
        margin-top: 3%;
        text-align: justify;
      }

      span {
        color: $color_background;
        display: block;
        font-size: 0.85em;
        padding: 0.5%;
        line-height: 1.6em;

        a {
          color: $color_background;
          border-left: 1px solid $color_background;
          padding: 0.5%;
        }

        a:hover {
          border-bottom: 1px solid $color_background;
          border-top: 1px solid $color_background;
        }
      }

      span:nth-child(2) {
        font-size: 1em;
      }
    }
  }
}

form {
  margin-top: 16%;
  text-align: center;
  .form-row {
    justify-content: center;
    color: white;
  }
}

.table {
  color: white;
  text-align: center;

  tr td:first-child {
    text-align: left;
  }

  thead {
    @extend %invert-text_color-background_color;
    text-transform: uppercase;

    tr {
      margin-bottom: 10%;
    }
  }

  tbody {
    tr:hover {
      @extend %invert-text_color-background_color;

      a {
        color: $color_background;
        text-decoration: overline;
      }
    }
    a {
      color: white;
    }
  }
}

.frase-entrada {
  position: relative;
  padding: 5%;
  color: white;
  h1 {
    text-transform: uppercase;
    span {
      @extend %invert-text_color-background_color;
      padding: 0.3% 1%;
    }
  }
  .container {
    padding: 5%;
    color: white;
    h1 {
      span {
        @extend %invert-text_color-background_color;
        padding: 0.3% 1%;
      }
    }
  }
}

#text-entrada {
  text-align: justify;
  font-size: 1.35em;
  line-height: 2em;
}
#title-header {
  @extend %invert-text_color-background_color;
  width: 40%;
  margin-top: 5%;
}

footer {
  color: white;
  padding: 0.5%;

  a {
    @extend %invert-text_color-background_color;
    padding: 0.5%;
  }

  a:hover {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: $color_background;
  }
}

@media (min-width: 1157px) {
  .container-fluid {
    height: 89%;
  }
}

@media (max-width: 768px) {
  .frase-entrada {
    padding: 3%;
    > h1 {
      font-size: 1.9em;
    }

    > div {
      font-size: 1em;
    }
  }

  .card {
    margin-top: 6%;
    height: 93%;
  }
}

@media (max-width: 414px) {
  .frase-entrada {
    h1 {
      font-size: 1.4em;
    }

    div {
      font-size: 0.7em;
      line-height: 1.8em;
    }
  }
  .row {
    border-bottom: none;
    .col-sm-4 {
      width: 96%;
      padding-bottom: 4%;
      border-bottom: 2px solid white;
    }

    .card {
      font-size: 0.9em;
      margin-top: 5%;
    }
  }
}

@media (max-width: 375px) {
  .frase-entrada {
    h1 {
      font-size: 1.2em;
    }

    div {
      font-size: 0.7em;
    }
  }

  .row {
    font-size: 1em;
  }

  .card-header {
    font-size: 0.8em;
  }
}

@media (max-width: 320px) {
  .frase-entrada {
    padding: 3%;
    > h1 {
      font-size: 1.1em;
    }

    > div {
      font-size: 0.6em;
    }
  }

  .row {
    .col-sm-4 {
      width: 96%;
      padding-bottom: 2%;
      border-bottom: 2px solid white;
    }

    .card {
      font-size: 0.9em;
      margin-top: 6%;
    }
  }

  .table {
    font-size: 0.8em;
  }
}
